# Abhängigkeiten (Niemals hochladen, sind riesig)
node_modules
.pnpm-store

# Build-Artefakte (Werden generiert)
dist
dist-ssr
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Systemdateien
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln

# Lokale Environment Variablen (Sicherheit!)
.env
.env.local
.env.*.local